background-set(url, posX, posY, sizeW, sizeH)
  background-repeat no-repeat
  background-image url(url)
  background-position posX posY
  background-size sizeW sizeH

$font-color = red

.background
  background-color: black;

.green
  color: #10B488;

.cursor-pointer
  cursor: pointer;